html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root{
  height: 100vh;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-auto-columns: 1fr;
  height: 100%;
}

header a{
  color: white;
}

header{
  grid-area: header;
  background-color: pink;
}
main{
  grid-area: main;
}

body,input, select, textarea{
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  color: #ff8000;
}

footer{
  grid-area: footer;
  background-color: blue;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}